@mixin breakpoint($point) {
    @if $point == desktop {
        @media only screen and (min-width: 1024px) {
            @content;
        }
    } @else if $point == smaller-than-desktop {
        @media only screen and (max-width: 1023px) {
            @content;
        }
    } @else if $point == tablet {
        @media only screen and (min-width : 768px) and (max-width : 1024px) {
            @content;
        }
    } @else if $point == phone {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }
}
