$primaryColorOne: rgb(6, 144, 168); // turquoise
$primaryColorTwo: rgb(188, 215, 75); // light turquoise
$secondaryColorOne: #fcad17; // orange
$secondaryColorTwo: #5d5d5e; // dark gray
$secondaryColorThree: #eeeeee;