#bottom-footer-container {
    position: relative;
    bottom: 0;
    width: 100%;
    height: $footerHeight;
    margin-top: -316px;
    @include box-sizing(border-box);
    &::before {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 50%;
        height: 119px;
        background: $secondaryColorTwo;
        content: ' ';
        z-index: 1;
    }
    &::after {
        position: absolute;
        left: 50%;
        right: 0;
        bottom: 0;
        height: 119px;
        background: $secondaryColorOne;
        content: ' ';
        z-index: 1;
    }
}

#bottom-footer {
    @include full-width;
    height: 100%;
    @include box-sizing(border-box);
    margin: 0 auto;
    background: #ffffff url('img/footer-background.png') no-repeat bottom left;
    z-index: 10;
    position: relative;
    #bottom-contact-info {
        position: absolute;
        top: 215px;
        right: 10px;
        color: #ffffff;
        text-shadow: -1px 1px 2px #000000, 0 0 1px #000000;
        text-align: right;
        font-weight: bold;
        font-size: 18px;
        .phone {
            margin-top: 1em;
        }
    }
    #bottom-copyright-notice {
        position: absolute;
        bottom: 30px;
        left: 10px;
        color: #ffffff;
        text-shadow: -1px 1px 2px #000000, 0 0 1px #000000;
        text-align: right;
        font-size: 16px;
    }
    #social
    {
      position: absolute;
      bottom: 60px;
      left: 10px;
      img
      {
        max-width: 30px;
      }
    }
}