input[type=text], input[type=password] {
    border: 1px solid $secondaryColorTwo;
    font-size: 18px;
    padding: 5px;
    &:focus {
        outline: none;
        box-shadow: inset 0 0 4px $secondaryColorOne;
        border: 1px solid $secondaryColorOne;
    }
    &:hover {
        box-shadow: inset 0 0 4px $secondaryColorTwo;
    }
    &::-webkit-input-placeholder {
        color: $secondaryColorOne;
    }
    &:-moz-placeholder {
        color: $secondaryColorOne;
    }
    &::-moz-placeholder {
        color: $secondaryColorOne;
    }
    &:-ms-input-placeholder {
        color: $secondaryColorOne;
    }
}

button {
    background: $secondaryColorOne;
    border: none;
    color: #ffffff;
    cursor: pointer;
    &:hover {
        background: lighten($secondaryColorOne, 10);
    }
}

fieldset.combo {
    font-size: 0;
    height: 33px;
    @include box-sizing(border-box);
    display: block;
    input[type=text] {
        @include box-sizing(border-box);
        padding: 5px;
        height: 100%;
        display: inline-block;
    }
    button {
        display: inline-block;
        margin: 0;
        font-size: 18px;
        height: 33px;
        height: 100%;
    }
}
