@include breakpoint(desktop) {
    #header-wrapper {
        width: 100%;
        @include background-image(linear-gradient(to right, $secondaryColorOne 50%, $secondaryColorTwo 50%, $secondaryColorTwo));
        @include box-sizing(border-box);
    }
    #top-header {
        @include full-width;
        margin: 0 auto;
        background: #ffffff;
        position: relative;
        .logo-container {
            background: $secondaryColorOne;
            display: inline-block;
            position: relative;
            .logo {
                margin: 4px 5px 5px 5px;
                position: relative;
                z-index: 10;
            }
            &::after {
                z-index: 1;
                position: absolute;
                right: -40px;
                @include background-image(linear-gradient(to right bottom, $secondaryColorOne 50%, #ffffff 51%, #ffffff));
                top: -5px;
                bottom: 0;
                width: 60px;
                content: ' ';
            }
        }
        #main-nav {
            font-size: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            background: $secondaryColorTwo;
            #menu-main-navigation > li {
                display: inline-block;
                background: $secondaryColorTwo;
                font-size: 20px;
                text-shadow: -1px 1px 1px #000000;
                font-weight: bold;
                position: relative;
                z-index: 2;
                @include box-sizing(border-box);
                a {
                    text-decoration: none;
                    color: #ffffff;
                    padding: 10px 27px;
                    display: inline-block;
                }
                &:not(:first-of-type) {
                    border-left: 1px solid #ffffff;
                }
                &:first-of-type::after {
                    @include background-image(linear-gradient(to right bottom, #ffffff 50%, $secondaryColorTwo 53%, $secondaryColorTwo));
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 16px;
                    left: -10px;
                    content: ' ';
                    z-index: 2;
                }
                &:hover {
                    &:first-of-type {
                        &::after {
                            @include background-image(linear-gradient(to right bottom, #ffffff 50%, $primaryColorOne 53%, $primaryColorOne));
                        }
                    }
                    &:nth-of-type(3n + 1) { 
                        background: $primaryColorOne;
                        .sub-menu {
                            border-color: $primaryColorOne;
                            li:not(:first-of-type) {
                                border-top: 1px solid $primaryColorOne;
                            }
                            li a:hover {
                                background: $primaryColorOne;
                            }
                        }
                    }
                    &:nth-of-type(3n + 2) {
                        background: $primaryColorTwo;
                        .sub-menu {
                            border-color: $primaryColorTwo;
                            li:not(:first-of-type) {
                                border-top: 1px solid $primaryColorTwo;
                            }
                            li a:hover {
                                background: $primaryColorTwo;
                            }
                        }
                    }
                    &:nth-of-type(3n + 3) {
                        background: $secondaryColorOne;
                        .sub-menu {
                            border-color: $secondaryColorOne;
                            li:not(:first-of-type) {
                                border-top: 1px solid $secondaryColorOne;
                            }
                            li a:hover {
                                background: $secondaryColorOne;
                            }
                        }
                    }
                }
                &:last-of-type {
                   margin-right: 40px;
                }
                .sub-menu {
                    @include box-sizing(border-box);
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    border: solid $secondaryColorTwo;
                    border-width: 0 2px 2px 2px;
                    display: none;
                    border-style: solid;
                    border-width: 0 2px 2px 2px;
                    li {
                        font-size: 16px;
                        background: #ffffff;
                        a {
                            font-weight: normal;
                            color: #000000;
                            padding: 5px;
                            text-shadow: none;
                            display: block;
                            &:hover {
                                color: #ffffff;
                                text-shadow: -1px 1px 1px #000000;
                            }
                        }
                    }
                }
                &:hover .sub-menu {
                    display: block;
                }
                &:first-of-type .sub-menu {
                    left: -10px;
                }
            }
        }
        #top-nav {
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 16px;
            z-index: 10;
            li {
                display: inline-block;
                padding: 1px 8px;
                a {
                    color: $secondaryColorTwo;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &:not(:first-of-type) {
                    border-left: 1px solid $secondaryColorTwo;
                }
            }
        }
        #top-search {
            position: absolute;
            z-index: 10;
            top: 50px;
            right: 60px;
            input[type=text] {
                border: 1px solid $secondaryColorThree;
            }
        }
        &::after {
            @include background-image(linear-gradient(to right bottom, #ffffff 50%, $secondaryColorTwo 51%, $secondaryColorTwo));
            width: 60px;
            top: -5px;
            bottom: 0;
            right: 0;
            content: ' ';
            position: absolute;
            z-index: 1;
        }
    }
    #top-sub-header {
        @include full-width;
        margin: 0 auto;
        p {
            text-transform: uppercase;
            padding: 5px 20px;
            color: $secondaryColorTwo;
            font-size: 22px;
        }
    }
    .hamburger-menu
    {
      display: none;
    }
}
@include breakpoint(smaller-than-desktop)
{
  #main-nav
  {
    display: none;
    position: relative;
    text-align: right;
    &.expand
    {
      display: block;
    }
    a
    {
      color: #fff;
      display: block;
      margin-bottom: 5px;
    }
  }
  #top-nav
  {
    display: none;
    position: relative;
    text-align: right;
    &.expand
    {
      display: block;
    }
    a
    {
      color: #fff;
      display: block;
      margin-bottom: 5px;
    }
  }
  #top-search
  {
    display: none;
    position: relative;
    text-align: right;
    &.expand
    {
      display: block;
    }
    a
    {
      color: #fff;
      display: block;
      margin-bottom: 5px;
    }
  }
  .hamburger-menu
  {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
  }
}

@include breakpoint(phone) {
    #slider {
        display: none;
    }
    #header-wrapper {
        background: $secondaryColorOne;
    }
    #top-header {
        .logo-container {
            width: 100%;
            @include box-sizing(border-box);
            text-align: center;
            .logo {
                max-width: 100px;
                height: auto;
            }
        }
    }
}