#home-content {
    #facts {
        @include container;
        .left, .middle, .right {
            @include span (3 of 9);
            text-align: center;
            h2 {
                font-size: 44px;
                font-weight: bold;
                margin: 0;
            }
            padding: 0 10px;
            @include box-sizing(border-box);
        }
        .left h2 {
            color: $primaryColorTwo;
        }
        .middle h2 {
            color: $primaryColorOne;
        }
        .right h2 {
            color: $secondaryColorOne;
        }
    }
    #mission {
        @include box-sizing(border-box);
        width: 100%;
        background: $primaryColorOne;
        color: #ffffff;
        font-size: 22px;
        text-align: center;
        p {
            padding: 15px 100px;
        }
        margin: 20px 0;
        font-weight: bold;
        text-shadow: -1px 1px 4px #000000;
    }
    #callsToAction {
        .left, .middle, .right {
            @include span (3 of 9);
            text-align: center;
            padding: 10px 0 20px 0;
            p {
                padding: 5px 30px 0 30px;
            }
            .img-wrapper {
                height: 100px;
                overflow: hidden;
            }
            @include box-sizing(border-box);
            a {
                text-decoration: none;
                color: #000000;
            }
            h3 {
                color: $secondaryColorOne;
                font-size: 36px;
                font-weight: bold;
            }
        }
    }
    #home-events {
        h2 {
            margin: .5em 0 .25em 20px;
            font-size: 24px;
        }
        .tribe-mini-calendar-wrapper {
            @include container;
        }
        .tribe-mini-calendar-grid-wrapper {
            @include span(2 of 3);
        }
        .tribe-mini-calendar-list-wrapper {
            @include span(1 of 3);
        }
        .tribe-mini-calendar {
            .tribe-events-present {
                background: $secondaryColorOne;
            }
            .tribe-events-has-events {
                background: $primaryColorOne;
            }
            .tribe-events-present.tribe-events-has-events {
                @include background-image(linear-gradient(to bottom right, $secondaryColorOne 50%, $primaryColorOne 52%, $primaryColorOne));
            }
        }
        .tribe-events-loop {
            .vevent {
                &:last-of-type .tribe-mini-calendar-event {
                    border: none;
                }
            }
            .tribe-mini-calendar-event {
                padding: 5px 0;
                border-bottom: 1px solid $secondaryColorThree;
                .list-info {
                    margin-top: 0;
                    h2 {
                        margin: 0 0 .25em 0;
                        font-size: 18px;
                        a {
                            color: $primaryColorOne;
                            text-decoration: none;
                        }
                    }
                }
                .list-date {
                    margin-top: 5px;
                }
                .list-date {
                    background: $primaryColorOne;
                }
            }
        }
        .textwidget
        {
          @include container;
          margin: 0 2%;
        }
    }
    #quotes
    {
      border: 1px solid $primaryColorOne;
      border-radius: 5px;
      @include span(2 of 3);
      padding: 5px 10px;
      .blockquote
      {
        font-size: 16px;
        color: $secondaryColorTwo;
        border-left: 10px solid $primaryColorOne;
        padding: 0px 5px;
        .quote
        {
          line-height: 16px;
        }
        .quotemark
        {
          font-size: 50px;
          font-weight: 900;
          color: $primaryColorOne;
          display: inline;
          position: relative;
          top: 20px;
        }
        .author
        {
          color: $primaryColorOne;
          font-size: 14px;
          font-weight: 100;
          text-align: right;
        }
      }
    }
}