#header-wrapper {
  background: none repeat scroll 0% 0% $secondaryColorOne;
}

#main-content-container {
  overflow: hidden;
}

#content {
  img {
    margin: 5px;
  }
}

p {
  margin: 0.5em 0;
}


#mission {
  @include box-sizing(border-box);
  width: 100%;
  background: $primaryColorOne;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  p {
    padding: 15px 100px;
  }
  margin: 20px 0;
  font-weight: bold;
  text-shadow: -1px 1px 4px #000000;
}

.hidden
{
  display: none;
}

a
{
  color: $secondaryColorTwo;
}