#slider {
    min-height: 415px;
    width: 100%;

    .slides {
        width: 100%;

        .slide {
            min-height: 415px;
            position: relative;
            width: 100%;

            img {
                left: 0;
                min-height: 415px;
                position: absolute;
                top: 0;
                width: 100%;
            }

            .slide-body {
                background: rgba(0, 0, 0, .65);
                color: rgba(255, 255, 255, 1);
                margin-top: 94px;
                min-height: 53%;
                max-height: 275px;
                padding: 40px 20px;
                position: relative;
                width: 25%;

                .slide-title {
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                .slide-content {
                    margin-bottom: 20px;
                }
                .slide-button {
                    background: -webkit-linear-gradient(rgba(25, 64, 130, 1), rgba(0, 39, 105, 1));
                    background: -o-linear-gradient(rgba(25, 64, 130, 1), rgba(0, 39, 105, 1));
                    background: -moz-linear-gradient(rgba(25, 64, 130, 1), rgba(0, 39, 105, 1));
                    background: linear-gradient(rgba(25, 64, 130, 1), rgba(0, 39, 105, 1));
                    border-radius: 8px;
                    color: #fff;
                    display: block;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                }
                .slide-button:hover {
                    background: -webkit-linear-gradient(rgba(0, 14, 80, 1), rgba(0, 0, 55, 1));
                    background: -o-linear-gradient(rgba(0, 14, 80, 1), rgba(0, 0, 55, 1));
                    background: -moz-linear-gradient(rgba(0, 14, 80, 1), rgba(0, 0, 55, 1));
                    background: linear-gradient(rgba(0, 14, 80, 1), rgba(0, 0, 55, 1));
                }
            }
            .secondary-slide-body {
                min-height: 34%;
                bottom: 100px;
                position: absolute;
                right: 0;
                width: 33%;

                img {
                    height: auto;
                    margin: 0 auto;
                    width: auto;
                    min-height: 0;
                }
            }
        }
    }
}
