#menu-staff-directory {

  > li {
    margin: 0 -2% 0 -2%;
  }
}

.staff-content {
    h2 {
        color: $primaryColorTwo;
    }
    .staff-list {
        margin-left: 2%;

        h2 {
            color: #000;
            font-size: 18px;
            margin-bottom: 5px;
        }
        h3 {
            color: $secondaryColorTwo;
        }
        li {
          margin-bottom: 1em;
        }
    }
}

.accordion-toggle-hidden {
  background-color: $secondaryColorThree;
  background-image: url(/wp-content/themes/healthnetwm/assets/images/pos.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding: 2px 5px 2px 2%;
  cursor: pointer;
}

.accordion-toggle-shown {
  background-color: $secondaryColorThree;
  background-image: url(/wp-content/themes/healthnetwm/assets/images/min.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding: 2px 5px 2px 2%;
  cursor: pointer;
}