@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
$primaryFontFamily: 'PT Sans', sans-serif;

body {
    font-family: $primaryFontFamily;
}

h1 {
    color: $primaryColorOne;
    font-size: 36px;
    margin: 15px 0;
    font-weight: bold;
}

h2 {
    color: $primaryColorOne;
    font-size: 24px;
    margin-bottom: 1em;
    font-weight: bold;
}

h3 {
  color: $secondaryColorOne;
  font-size: 20px;
}

h4 {
  color: $secondaryColorTwo;
  font-size: 15px;
  font-weight: bold;
}