@import "compass";

@import "compass/reset";
@import "../../../../../../../bower_components/susy/sass/_susy.scss";

@import "_breakpoints.scss";
@mixin full-width {
    @include breakpoint(desktop) {
        width: 1024px;
    }
    @include breakpoint(tablet) {
        
    }
    width: 100%;
}

$footerHeight: 316px;

@import "_colors.scss";
@import "_typography.scss";
@import "_grid.scss";
@import "_form-controls.scss";
@import "_slider.scss";

@import "_header.scss";
@import "_footer.scss";
@import "_home.scss";
@import "_staff.scss";
@import "_sidebar.scss";
@import "_main.scss";

.clearfix {
    clear: both;
}

#main-content {
    margin-top: 20px;
    @include box-sizing(border-box);
    padding: 0 20px;
}

#page-wrapper {
    min-height: 100%;
    margin-bottom: -316px;
    &::after {
        content: ' ';
        height: $footerHeight;
        display: block;
        @include box-sizing(border-box);
    }
}

#main-content-container {
    @include full-width;
    margin: 0 auto;
    @include box-sizing(border-box);
    background: #ffffff;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    @include box-sizing(border-box);
    @include background-image(linear-gradient(to bottom, #ffffff 400px, $secondaryColorThree 400px, $secondaryColorThree 100%));
    background-attachment: fixed;
}