/* =bw_responsive 12 Column Grid
-------------------------------------------------------------- */
.grid {
    float:left;
    margin-bottom:2.083%;
    padding-top:0;
}
#sortable .grid {
    float:left;
    margin-bottom:0;
    padding-top:0;
}
.col-60, .col-140, .col-220, .col-300, .col-380, .col-460, .col-540, .col-620, .col-700, .col-780, .col-860 {
    display:inline;
    margin-right:2.12766%;
}

.col-60 {
    width:6.38297%;
}

.col-140 {
    width:14.89361%;
}

.col-220 {
    width:23.40425%;
}

.col-300 {
    width:31.91489%;
}

.col-380 {
    width:40.42553%;
}

.col-460 {
    width:48.93617%;
}

.col-540 {
    width:57.4468%;
}

.col-620 {
    width:65.95744%;
}

.col-700 {
    width:74.46808%;
}

.col-780 {
    width:82.97872%;
}

.col-860 {
    width:91.48936%;
}

.col-940 {
    width:100%;
}

/* .fit is the very last item in your grid
   to keep your columns inline and without
   floats
*/
.fit {
    margin-left:0!important;
    margin-right:0!important;
}

#rwd {
    max-width:980px;
}

h3.rwd-toggle {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0 0 0 10px;
    margin: 20px 0 0 0;
    border:1px solid #dfdfdf;
    background-color: #F1F1F1;
    background-image: -ms-linear-gradient(top, #F9F9F9, #ECECEC);
    background-image: -moz-linear-gradient(top, #F9F9F9, #ECECEC);
    background-image: -o-linear-gradient(top, #F9F9F9, #ECECEC);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#ECECEC));
    background-image: -webkit-linear-gradient(top, #F9F9F9, #ECECEC);
    background-image: linear-gradient(top, #F9F9F9, #ECECEC);
    height: 34px;
    line-height: 34px;
    width: 980px;
    font-size: 15px;
    font-weight: normal;
    float: left;
}

h3.rwd-toggle a {
    background:url(images/arrow-light.png) 99% 50% no-repeat;
    color: #464646;
    font-family:Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
    text-decoration: none;
    display: block;
    text-shadow:#fff 0 1px 0;
}

h3.rwd-toggle a:hover {
    background:url(images/arrow-dark.png) 99% 50% no-repeat;
    color: #444;
}

h3.active {
    background-position: left bottom;
}

.rwd-container {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 0;
    padding: 0;
    border: 1px solid #dfdfdf;
    border-top:none;
    background: #fcfcfc;
    overflow: hidden;
    font-size: 12px;
    clear: both;
    color:#333;
    width:990px;
}

.rwd-container .rwd-block {
    padding: 20px;
}

div.updated {
}

/* =Inline CSS
-------------------------------------------------------------- */
.inline-css {
    background:#f9f9f9;
    font-family:Consolas, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
    outline:none;
}

/* =Help Links
-------------------------------------------------------------- */
.help-links {
    border-top:1px solid #ddd;
    display:block;
    font-size:12px;
    margin-top:10px;
    padding-top:10px;
}

/* =Info Boxes
-------------------------------------------------------------- */
#info-box-wrapper {
    margin-bottom:0;
}

.info-box {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    display:block;
    margin:20px 0;
    padding:15px;
    text-align:left;
}

.alert {
    background-color:#faebeb;
    border:1px solid #dc7070;
    color:#212121;
}

.address {
    background-color:#f6f5ef;
    border:1px solid #cdc9a5;
    color:#212121;
}

.notice {
    background-color:#fbf9e9;
    border:1px solid #e3cf57;
    color:#212121;
}

.success {
    background-color:#f9fde8;
    border:1px solid #a2bc13;
    color:#212121;
}

.download {
    background-color:#fff4e5;
    border:1px solid #ff9912;
    color:#212121;
}

.information {
    background-color:#eef3f6;
    border:1px solid #6ca6cd;
    color:#212121;
}

.required {
    color:#d5243f;
}

/* =Buttons (Colors)
-------------------------------------------------------------- */
a.blue {
    background-color:#4682b4;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#5fb0f4), to(#4682b4));
    background-image:-webkit-linear-gradient(top, #5fb0f4, #4682b4);
    background-image:-moz-linear-gradient(top, #5fb0f4, #4682b4);
    background-image:-ms-linear-gradient(top, #5fb0f4, #4682b4);
    background-image:-o-linear-gradient(top, #5fb0f4, #4682b4);
    background-image:linear-gradient(top, #5fb0f4, #4682b4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#5fb0f4, endColorstr=#4682b4);
    border:1px solid #386890;
    color:#fff;
    font-weight:700;
    text-shadow:0 -1px 0 #386890;
}

a.blue:hover {
    background-color:#4682b4;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4));
    background-image:-webkit-linear-gradient(top, #4682b4, #4682b4);
    background-image:-moz-linear-gradient(top, #4682b4, #4682b4);
    background-image:-ms-linear-gradient(top, #4682b4, #4682b4);
    background-image:-o-linear-gradient(top, #4682b4, #4682b4);
    background-image:linear-gradient(top, #4682b4, #4682b4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4682b4, endColorstr=#4682b4);
    border:1px solid #386890;
    color:#fff;
}

a.red {
    background-color:#b22222;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#ed2e2e), to(#b22222));
    background-image:-webkit-linear-gradient(top, #ed2e2e, #b22222);
    background-image:-moz-linear-gradient(top, #ed2e2e, #b22222);
    background-image:-ms-linear-gradient(top, #ed2e2e, #b22222);
    background-image:-o-linear-gradient(top, #ed2e2e, #b22222);
    background-image:linear-gradient(top, #ed2e2e, #b22222);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ed2e2e, endColorstr=#b22222);
    font-weight:700;
    border:1px solid #8e1b1b;
    color:#fff;
    text-shadow:0 -1px 0 #8e1b1b;
}

a.red:hover {
    background-color:#b22222;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#b22222), to(#b22222));
    background-image:-webkit-linear-gradient(top, #b22222, #b22222);
    background-image:-moz-linear-gradient(top, #b22222, #b22222);
    background-image:-ms-linear-gradient(top, #b22222, #b22222);
    background-image:-o-linear-gradient(top, #b22222, #b22222);
    background-image:linear-gradient(top, #b22222, #b22222);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b22222, endColorstr=#b22222);
    border:1px solid #8e1b1b;
    color:#fff;
}

a.orange {
    background-color:#ff8C00;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#fdc37d), to(#ff8C00));
    background-image:-webkit-linear-gradient(top, #fdc37d, #ff8C00);
    background-image:-moz-linear-gradient(top, #fdc37d, #ff8C00);
    background-image:-ms-linear-gradient(top, #fdc37d, #ff8C00);
    background-image:-o-linear-gradient(top, #fdc37d, #ff8C00);
    background-image:linear-gradient(top, #fdc37d, #ff8C00);
    font-weight:700;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fdc37d, endColorstr=#ff8C00);
    border:1px solid #cc7000;
    color:#fff;
    text-shadow:0 -1px 0 #cc7000;
}

a.orange:hover {
    background-color:#ff8C00;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#ff8C00), to(#ff8C00));
    background-image:-webkit-linear-gradient(top, #ff8C00, #ff8C00);
    background-image:-moz-linear-gradient(top, #ff8C00, #ff8C00);
    background-image:-ms-linear-gradient(top, #ff8C00, #ff8C00);
    background-image:-o-linear-gradient(top, #ff8C00, #ff8C00);
    background-image:linear-gradient(top, #ff8C00, #ff8C00);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8C00, endColorstr=#ff8C00);
    border:1px solid #cc7000;
    color:#fff;
}

a.green {
    background-color:#2e8b57;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#46d686), to(#2e8b57));
    background-image:-webkit-linear-gradient(top, #46d686, #2e8b57);
    background-image:-moz-linear-gradient(top, #46d686, #2e8b57);
    background-image:-ms-linear-gradient(top, #46d686, #2e8b57);
    background-image:-o-linear-gradient(top, #46d686, #2e8b57);
    background-image:linear-gradient(top, #46d686, #2e8b57);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#46d686, endColorstr=#2e8b57);
    font-weight:700;
    border:1px solid #256f46;
    color:#fff;
    text-shadow:0 -1px 0 #256f46;
}

a.green:hover {
    background-color:#2e8b57;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#2e8b57), to(#2e8b57));
    background-image:-webkit-linear-gradient(top, #2e8b57, #2e8b57);
    background-image:-moz-linear-gradient(top, #2e8b57, #2e8b57);
    background-image:-ms-linear-gradient(top, #2e8b57, #2e8b57);
    background-image:-o-linear-gradient(top, #2e8b57, #2e8b57);
    background-image:linear-gradient(top, #2e8b57, #2e8b57);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#2e8b57, endColorstr=#2e8b57);
    border:1px solid #256f46;
    color:#fff;
}

a.purple {
    background-color:#9932cc;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#d481fd), to(#9932cc));
    background-image:-webkit-linear-gradient(top, #d481fd, #9932cc);
    background-image:-moz-linear-gradient(top, #d481fd, #9932cc);
    background-image:-ms-linear-gradient(top, #d481fd, #9932cc);
    background-image:-o-linear-gradient(top, #d481fd, #9932cc);
    background-image:linear-gradient(top, #d481fd, #9932cc);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#d481fd, endColorstr=#9932cc);
    font-weight:700;
    border:1px solid #7a28a3;
    color:#fff;
    text-shadow:0 -1px 0 #7a28a3;
}

a.purple:hover {
    background-color:#9932cc;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#9932cc), to(#9932cc));
    background-image:-webkit-linear-gradient(top, #9932cc, #9932cc);
    background-image:-moz-linear-gradient(top, #9932cc, #9932cc);
    background-image:-ms-linear-gradient(top, #9932cc, #9932cc);
    background-image:-o-linear-gradient(top, #9932cc, #9932cc);
    background-image:linear-gradient(top, #9932cc, #9932cc);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#9932cc, endColorstr=#9932cc);
    border:1px solid #7a28a3;
    color:#fff;
}

a.pink {
    background-color:#ff69b4;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#fcb8da), to(#ff69b4));
    background-image:-webkit-linear-gradient(top, #fcb8da, #ff69b4);
    background-image:-moz-linear-gradient(top, #fcb8da, #ff69b4);
    background-image:-ms-linear-gradient(top, #fcb8da, #ff69b4);
    background-image:-o-linear-gradient(top, #fcb8da, #ff69b4);
    background-image:linear-gradient(top, #fcb8da, #ff69b4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcb8da, endColorstr=#ff69b4);
    font-weight:700;
    border:1px solid #cc5490;
    color:#fff;
    text-shadow:0 -1px 0 #cc5490;
}

a.pink:hover {
    background-color:#ff69b4;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#ff69b4), to(#ff69b4));
    background-image:-webkit-linear-gradient(top, #ff69b4, #ff69b4);
    background-image:-moz-linear-gradient(top, #ff69b4, #ff69b4);
    background-image:-ms-linear-gradient(top, #ff69b4, #ff69b4);
    background-image:-o-linear-gradient(top, #ff69b4, #ff69b4);
    background-image:linear-gradient(top, #ff69b4, #ff69b4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff69b4, endColorstr=#ff69b4);
    border:1px solid #cc5490;
    color:#fff;
}

a.brick {
    background-color:#ff6347;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#fcad9f), to(#ff6347));
    background-image:-webkit-linear-gradient(top, #fcad9f, #ff6347);
    background-image:-moz-linear-gradient(top, #fcad9f, #ff6347);
    background-image:-ms-linear-gradient(top, #fcad9f, #ff6347);
    background-image:-o-linear-gradient(top, #fcad9f, #ff6347);
    background-image:linear-gradient(top, #fcad9f, #ff6347);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcad9f, endColorstr=#ff6347);
    font-weight:700;
    border:1px solid #cc4f39;
    color:#fff;
    text-shadow:0 -1px 0 #cc4f39;
}

a.brick:hover {
    background-color:#ff6347;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#ff6347), to(#ff6347));
    background-image:-webkit-linear-gradient(top, #ff6347, #ff6347);
    background-image:-moz-linear-gradient(top, #ff6347, #ff6347);
    background-image:-ms-linear-gradient(top, #ff6347, #ff6347);
    background-image:-o-linear-gradient(top, #ff6347, #ff6347);
    background-image:linear-gradient(top, #ff6347, #ff6347);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6347, endColorstr=#ff6347);
    border:1px solid #cc4f39;
    color:#fff;
}

a.gold {
    background-color:#daa520;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#fbd577), to(#daa520));
    background-image:-webkit-linear-gradient(top, #fbd577, #daa520);
    background-image:-moz-linear-gradient(top, #fbd577, #daa520);
    background-image:-ms-linear-gradient(top, #fbd577, #daa520);
    background-image:-o-linear-gradient(top, #fbd577, #daa520);
    background-image:linear-gradient(top, #fbd577, #daa520);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fbd577, endColorstr=#daa520);
    font-weight:700;
    border:1px solid #ae841a;
    color:#fff;
    text-shadow:0 -1px 0 #916e16;
}

a.gold:hover {
    background-color:#daa520;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#daa520), to(#daa520));
    background-image:-webkit-linear-gradient(top, #daa520, #daa520);
    background-image:-moz-linear-gradient(top, #daa520, #daa520);
    background-image:-ms-linear-gradient(top, #daa520, #daa520);
    background-image:-o-linear-gradient(top, #daa520, #daa520);
    background-image:linear-gradient(top, #daa520, #daa520);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#daa520, endColorstr=#daa520);
    border:1px solid #ae841a;
    color:#fff;
}

a.brown {
    background-color:#8b4513;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#d3691d), to(#8b4513));
    background-image:-webkit-linear-gradient(top, #d3691d, #8b4513);
    background-image:-moz-linear-gradient(top, #d3691d, #8b4513);
    background-image:-ms-linear-gradient(top, #d3691d, #8b4513);
    background-image:-o-linear-gradient(top, #d3691d, #8b4513);
    background-image:linear-gradient(top, #d3691d, #8b4513);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#d3691d, endColorstr=#8b4513);
    font-weight:700;
    border:1px solid #6f370f;
    color:#fff;
    text-shadow:0 -1px 0 #6f370f;
}

a.brown:hover {
    background-color:#8b4513;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#8b4513), to(#8b4513));
    background-image:-webkit-linear-gradient(top, #8b4513, #8b4513);
    background-image:-moz-linear-gradient(top, #8b4513, #8b4513);
    background-image:-ms-linear-gradient(top, #8b4513, #8b4513);
    background-image:-o-linear-gradient(top, #8b4513, #8b4513);
    background-image:linear-gradient(top, #8b4513, #8b4513);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8b4513, endColorstr=#8b4513);
    border:1px solid #6f370f;
    color:#fff;
}

a.silver {
    background-color:#c0c0c0;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#fbf8f8), to(#c0c0c0));
    background-image:-webkit-linear-gradient(top, #fbf8f8, #c0c0c0);
    background-image:-moz-linear-gradient(top, #fbf8f8, #c0c0c0);
    background-image:-ms-linear-gradient(top, #fbf8f8, #c0c0c0);
    background-image:-o-linear-gradient(top, #fbf8f8, #c0c0c0);
    background-image:linear-gradient(top, #fbf8f8, #c0c0c0);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fbf8f8, endColorstr=#c0c0c0);
    font-weight:700;
    border:1px solid #9a9a9a;
    color:#111;
    text-shadow:0 -1px 0 #fff;
}

a.silver:hover {
    background-color:#c0c0c0;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#c0c0c0), to(#c0c0c0));
    background-image:-webkit-linear-gradient(top, #c0c0c0, #c0c0c0);
    background-image:-moz-linear-gradient(top, #c0c0c0, #c0c0c0);
    background-image:-ms-linear-gradient(top, #c0c0c0, #c0c0c0);
    background-image:-o-linear-gradient(top, #c0c0c0, #c0c0c0);
    background-image:linear-gradient(top, #c0c0c0, #c0c0c0);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c0c0c0, endColorstr=#c0c0c0);
    border:1px solid #9a9a9a;
    color:#111;
}

a.gray {
    background-color:#696969;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#c0bfbf), to(#696969));
    background-image:-webkit-linear-gradient(top, #c0bfbf, #696969);
    background-image:-moz-linear-gradient(top, #c0bfbf, #696969);
    background-image:-ms-linear-gradient(top, #c0bfbf, #696969);
    background-image:-o-linear-gradient(top, #c0bfbf, #696969);
    background-image:linear-gradient(top, #c0bfbf, #696969);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c0bfbf, endColorstr=#696969);
    font-weight:700;
    border:1px solid #545454;
    color:#fff;
    text-shadow:0 -1px 0 #111;
}

a.gray:hover {
    background-color:#696969;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#696969), to(#696969));
    background-image:-webkit-linear-gradient(top, #696969, #696969);
    background-image:-moz-linear-gradient(top, #696969, #696969);
    background-image:-ms-linear-gradient(top, #696969, #696969);
    background-image:-o-linear-gradient(top, #696969, #696969);
    background-image:linear-gradient(top, #696969, #696969);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#696969, endColorstr=#696969);
    border:1px solid #545454;
    color:#fff;
}

a.black {
    background-color:#000000;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#515151), to(#000000));
    background-image:-webkit-linear-gradient(top, #515151, #000000);
    background-image:-moz-linear-gradient(top, #515151, #000000);
    background-image:-ms-linear-gradient(top, #515151, #000000);
    background-image:-o-linear-gradient(top, #515151, #000000);
    background-image:linear-gradient(top, #515151, #000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#515151, endColorstr=#000000);
    font-weight:700;
    border:1px solid #000000;
    color:#fff;
    text-shadow:0 -1px 0 #000000;
}

a.black:hover {
    background-color:#000000;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#191919), to(#000000));
    background-image:-webkit-linear-gradient(top, #191919, #000000);
    background-image:-moz-linear-gradient(top, #191919, #000000);
    background-image:-ms-linear-gradient(top, #191919, #000000);
    background-image:-o-linear-gradient(top, #191919, #000000);
    background-image:linear-gradient(top, #191919, #000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#191919, endColorstr=#000000);
    border:1px solid #000000;
    color:#fff;
}

/* =Info Boxes
-------------------------------------------------------------- */
.info-box {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    display:block;
    margin:20px 0;
    padding:15px;
    text-align:left;
}

.alert {
    background-color:#faebeb;
    border:1px solid #dc7070;
    color:#212121;
}

.address {
    background-color:#f6f5ef;
    border:1px solid #cdc9a5;
    color:#212121;
}

.notice {
    background-color:#fbf9e9;
    border:1px solid #e3cf57;
    color:#212121;
}

.success {
    background-color:#f9fde8;
    border:1px solid #a2bc13;
    color:#212121;
}

.download {
    background-color:#fff4e5;
    border:1px solid #ff9912;
    color:#212121;
}

.information {
    background-color:#eef3f6;
    border:1px solid #6ca6cd;
    color:#212121;
    font-size:11px;
    text-align:center;
}

.required {
    color:#d5243f;
}

/* =RTL CSS
-------------------------------------------------------------- */
.rtl .grid {
    float:right;
    margin-bottom:2.083%;
    padding-top:0;
}

.rtl .col-60, .rtl .col-140, .rtl .col-220, .rtl .col-300, .rtl .col-380, .rtl .col-460, .rtl .col-540, .rtl .col-620, .rtl .col-700, .rtl .col-780, .rtl .col-860 {
    margin-right: 0;
    margin-left:2.12766%;
}

.rtl  h3.rwd-toggle {
    padding: 0 10px 0 0;
    float: right;
}

.rtl h3.rwd-toggle a {
    background:url(images/arrow-light.png) 1% 50% no-repeat;
}

.rtl h3.rwd-toggle a:hover {
    background:url(images/arrow-dark.png) 1% 50% no-repeat;
}

.rtl .info-box {
    text-align: right;
}
.icon_holder {
    cursor:pointer;
}
/* SQUARED ONE */
.squaredOne {
    width: 28px;
    height: 28px;
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    position: relative;
    left:914px;
    bottom:6px;
}

.squaredOne label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 4px;
    top: 4px;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #00bf00;

    background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
    background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
    background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
    background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
    background: linear-gradient(top, #00bf00 0%, #009400 100%);

    top: 2px;
    left: 2px;

    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

/* CSS Tricks Snippets */
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

/* Sortable CSS */

#sortable .regular-text,
#sortable .description,
#sortable .icon_upload {
    position:relative;
    top:-7px;
}
